/*!
 * nb-stimmig-web v1.0.0
 * Alexander Morosow, 2018
 */
@import "_bootstrap-theme";

body {
  height: 100%;
  padding-bottom: 15rem;
  bottom: 0;
}

.main_wrap {
}

.card-deck {
  flex-flow: column;
  @media (min-width: 992px) {
    flex-flow: row wrap;
  }
}

.card-text {
  hyphens: auto;
  margin-bottom: 1.5rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}
