/*!
 * nb-stimmig-web v1.0.0
 * Alexander Morosow, 2018
 */
@import "_bootstrap-theme";

html {
  min-height: 100vh;
}

#__nuxt {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  padding-bottom: 23rem;
  @media (min-width: 768px) {
    padding-bottom: 20rem;
  }
  @media (min-width: 992px) {
    padding-bottom: 17rem;
  }
  bottom: 0;
  position: relative;
}

.main_wrap {
}

.card-deck {
  flex-flow: column;
  @media (min-width: 992px) {
    flex-flow: row wrap;
  }
}

.card-text {
  hyphens: auto;
  margin-bottom: 1.5rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}
